{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h3>Rick and Morty</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ex vitae iusto tempore blanditiis quae quod unde, repellendus aliquid esse facere facilis, aliquam, fugiat sunt eveniet dolores libero voluptatem iure!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/642551.png" class="img-thumbnail">
    </div>
</div>
{{> footer }}